<%- include('partials/header') %> 
<%- include('partials/navbar') %>
    <ul>
        <% for (let cat of cats) { %>
            <li><%=cat%></li>
        <% } %>
    </ul>
<%- include('partials/footer') %>